.form-max-width {
    width: 300px;
}

.fs-12px {
    font-size: 12px !important;
}

.fs-14px {
    font-size: 14px !important;
}

.h-40px {
    height: 40px !important;
}

.h-30px {
    height: 30px !important;
}

.h-65px {
    height: 65px !important;
}
